* {
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundImage {
  background-image: url(/public/image/tn.jpg);
}

.image{
  display: none;
}

h1 {
  color: white;
  text-align: center;
}

.ligne1 {
  width: 400px;
}

.ligne2 {
  width: 400px;
}

.ligne3 {
  width: 400px;
}

.ligne4 {
  width: 400px;
}

.btnStart {
  background: #222;
  color: #fff;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  width: fit-content;

}

.Rejouer {
  background: #222;
  color: #fff;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  width: fit-content;
  display: none;
}

.imageCache {
  background: url("/public/image/Memoire3-300x300.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;

}


#image1.imageRetouner,
#image2.imageRetouner {
  background: url("/public/image/cerf.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}

#image3.imageRetouner,
#image4.imageRetouner {
  background: url("/public/image/girafe.jpeg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;

  margin-top: 3rem;

}


#image5.imageRetouner,
#image6.imageRetouner {
  background: url("/public/image/panda.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;

  margin-top: 3rem;


}

#image7.imageRetouner,
#image8.imageRetouner {
  background: url("/public/image/panther.jpeg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}

#image9.imageRetouner,
#image10.imageRetouner {
  background: url("/public/image/portrait-de-tigre-b414cb5c-b28d-4e13-a956-c8503d730e77.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}


#image11.imageRetouner,
#image12.imageRetouner {
  background: url("/public/image/loup.jpeg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}


#image13.imageRetouner,
#image14.imageRetouner {
  background: url("/public/image/zebre-des-plaines-carre.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}


#image15.imageRetouner,
#image16.imageRetouner {
  background: url("/public/image/dauphin.p.jpg")center center/contain;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-top: 3rem;


}


.group-image {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}